@tailwind base;
@tailwind components;
@tailwind utilities;


.containers {
    width: 1200px;
    margin: 0 auto;
}

body {
    background: #1d1d1d;
    color: white;
}
input {
    outline: none;
}

textarea {
    outline: none;
}